.poppins-regular {
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
  }
  
.poppins-bold {
    font-family: "Poppins", serif;
    font-weight: 700;
    font-style: normal;
}

.chivo-font {
    font-family: "Chivo", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

body {
    color: #22053d;
}
.user-profile {
    width: 200px;
    height: 200px;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    margin: 2px;
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.3);
    border: 1px solid #c2c2c2;
}
.profile-info h3{
    text-align: center;
}

.profile-info span {
    font-family: "Poppins", serif;
    text-align: center;
    display: block;
}

.profile-links  {
    text-align: center;
}
.profile-links i{
    font-size: 66px;
    margin-right: 20px;
}

.flip-card {
    background-color: transparent;
    width: 200px;
    height: 200px;
    perspective: 1000px;
    background-color: transparent;
}

.flip-card:focus {
    outline: 0;
}

.flip-content {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    border-radius: 10px;
}

.flip-card:hover .flip-content,
.flip-card:focus .flip-content {
  transform: rotateY(180deg);
}

.flip-front,
.flip-back {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.flip-front {
    background: linear-gradient(to left, #fff, #e2e1e1);
    color: black;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flip-front .img-holder {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 60px;
    width: 120px;
}

.flip-back {
    background: linear-gradient(to right, #e2e1e1, #fff);
    color: #22053d;
    transform: rotateY(180deg);
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flip-back
.img-holder {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 60px;
    width: 120px;
}

.card-front, .card-back {
    width: 300px;
    height: 200px;
}
.card-front {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transition: .7s;
    transform: translateY(150px);
    border-radius: 10px;
}

.card-front:hover {
    transform: translateY(0px);
}

.card-back {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    box-sizing: border-box;
    transition: .8s;
    transform: translateY(-50px);
    box-shadow: 0 20px 40px rgba(0,0,0,0.4);

    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.card-back::after {
    content: "";
    position: absolute;
    width: 30px;
    height: 4px;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
    background: #2c73df;
}

.card-content {
    background-color: #fff;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.card-content h3 {
    padding: 0 10px 10px;
    font-size: 20px;
    text-align: center;
    color: #414141;
    font-weight: 700;
    font-size: 18px;
    font-family: "Chivo", serif;
}

.card-content h4 {
    padding: 10px;
    font-size: 20px;
    text-align: center;
    color: #414141;
    font-size: 14px;
    font-family: "Poppins", serif;
}

.card-content p {
    margin: 0;
    padding: 0;
    text-align: center;
    color: #414141;
    padding: 10px;
}
.card-front .img-holder {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 200px;
    width: 300px;
    border-radius: 10px;
}